body {

}

header {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.head {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
   display: flex;   
}

.logo img {
    margin: 10px;
}

.logo span {
    display: flex;
    align-items: center;
    color: mediumaquamarine;
    margin: 10px;
}

.nav {
    display: flex;
    align-items: center;
    align-content: space-around;    
}

.nav a {
    margin: 0 10px;
    color: black;
}
